// body
  // font-family: 'Roboto', sans-serif
.button
  padding: 9px 24px
  font-family: $roboto
  border-radius: 5px
  &__outline
    border: 2px solid $orange
    transition: background-color 0.2s
    &:hover
      background-color: $orange
    &:active
      padding: 11px 26px
      border: none
      background-color: $pressed