.footer
  padding: 136px 0
  background: #181617 url('../images/bg-footer.jpg') no-repeat center
.social
  display: flex
  align-items: center
  justify-content: space-between
  width: 280px
  &__link
    &:hover
      transition: .2s
      filter: drop-shadow(2px -1px 14px #e33250) invert(75%)
.nav
  &_footer
    margin-left: 15px